.YABApp {
  text-align: center;
  background-color: aliceblue;
  min-height: 100vh;
}

#rootContainer {
  padding: 0px;
}

#search-box-wrapper {
  padding: 0px;
}

.yabComponentContainer {
  padding: 15px;
}